@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik:wght@300&display=swap');

html, body {
  margin: 0;
  min-height: 100vh;
}

* {
  font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, label {
  font-family: 'Montserrat', sans-serif;
}

body {
  @apply bg-gradient-to-t from-[#DCF0F6] to-[#A1E9FF] bg-no-repeat h-full;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}